В этом блокноте мы постараемся отобразить начальные моменты, связанные с языком программирования Python

Сначала научимся определять текущую версию Python, используемую в googleColab

пояснение

In [1]:
!python --version

Python 3.7.14

## Как поделиться своим блокнотом?

## Как использовать файлы?

------------------

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [5]:
!gdown 147h79ogM1iQcpugJDtureggR8cCX03av

Downloading...
From: https://drive.google.com/uc?id=147h79ogM1iQcpugJDtureggR8cCX03av
To: /content/auto-mpg-quiz.csv
100% 17.4k/17.4k [00:00<00:00, 22.1MB/s]

## Самые основы

Как же без первой программы на любом языке программирования? Выведем на экран фразу "Hello World!". Обратите внимание, текстовая информация (строковая) обрамляется одиночными апострофами.

In [ ]:
print('Hello World!')

Hello World!

Или двойными кавычками

In [ ]:
print("Hello World!")

Hello World!

Теперь научимся выполнять некоторые простейшие арифметические операции:

In [ ]:
5 + 7

12

In [ ]:
5 * 6

30

In [ ]:
2 ** 4

16

In [ ]:
100 / 5

20.0

In [ ]:
144 ** (1/2)

12.0

То же самое с print.

In [ ]:
print(5 + 7) # сумма двух чисел
print(5 * 6) # произведение двух чисел
print(2 ** 4) # возведение числа 2 в степень 4
print(100 / 5) # частное двух чисел
print(144 ** (1/2)) #извлечение корня

12
30
20.0
16
12.0

Обратите внимание, четвертое и пятое выведенные числа имеют другой формат, нежели остальные. Все потому, что частное целых чисел может быть числом не целым, как и корень целого числа. В остальных приведенных операциях такая ситуация оказывается невозможной.

In [ ]:
# Целая часть от деления
5 // 2

2

In [ ]:
# Остаток от деления
5 % 2

1

Часто бывает необходимым использовать одни и те же данные в нескольких местах. Чтобы не писать сами данные явно, их можно хранить в специально созданной переменной.

In [ ]:
a = 5
b = 6
print(a + b)
print(a * b)
# Поменять значения в переменных в первых двух строках, проверить результат

11
30

Можно использовать переменную, в которую будет помещен результат действия

In [ ]:
a = 5
b = 6
sum = a + b
print(sum)

Часто необходимый функционал уже реализован в виде дополнительных модулей (библиотек). Остается лишь добавить их в ваш код. Например, пусть стоит задача найти значение выражения 
$$
x - \frac{{{x^3}}}{{3!}} + \frac{{{x^5}}}{{5!}} - \frac{{{x^7}}}{{7!}}
$$
при $x = 1.57$, где 
$$
n! = 1 \cdot 2 \cdot ... \cdot n.
$$
Тогда можно написать выражение "влоб"

In [ ]:
x = 1.57
x - x**3/(2*3) + x**5/(2*3*4*5) - x**7/(2*3*4*5*6*7)

0.9998434952309573

или воспользоваться библиотекой `math`

In [ ]:
import math
 
x = 1.57
x - x**3/math.factorial(3) + x**5/math.factorial(5) - x**7/math.factorial(7)

0.9998434952309573

In [ ]:
from math import factorial as fact
fact(3)

6

## Условный оператор

```
if условие_1:
    блок кода 1
elif условие_2:
    блок кода 2
else:
    блок кода 3
```

Задача: найти наибольшее из двух чисел и вывести его на экран

In [ ]:
a = 3
b = 5

if a > b:
  print(a)
else:
  print(b)

5

## Некоторые задачи для самопроверки из курса

Маша и Саша играют в игру "чет/нечет". Каждая из них пишет на бумажке любое целое число и кладет в шляпу. Если сумма обоих чисел четная, побеждает Маша, иначе побеждает Саша. На языке программирования Python напишите программу для моделирования этой игры. Переменной `Masha` присваивается значение `3`, переменной `Sasha` присваивается значение `4`, в переменную `result` помещается имя победителя (в виде строки `'Masha'` или `'Sasha'`).

In [ ]:
Masha = 3 # Переменной Masha присваивается значение 3
Sasha = 4 # Переменной Sasha присваивается значение 4
if (Masha+Sasha) % 2 == 0:
  result = 'Masha' # Победила Маша
else:
  result = 'Sasha' # Победила Саша
print(result)

Masha

На языке программирования Python напишите программу для определения того, является ли год високосным. Переменной `year` присваивается значение `1932`, в переменную `result` помещается ответ: является ли год високосным (значения `True` или `False`).

Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, или если он кратен 400.

In [ ]:
year = 1932
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    result = True
else:
    result = False 
result

True

## Циклы

### Цикл while

```
while условие:
    блок кода
```

Задача: вывести на экран все целые числа от $a > 1$ до $1$.

In [ ]:
a = 5

while a > 0:
  print(a)
  a = a - 1

5
4
3
2
1

Замечание: `a = a - 1` более кратко можно записать как `a -= 1`.

#### Некоторые задачи для самопроверки из курса

На языке программирования Python напишите программу для вычисления суммы натуральных чисел на интервале $[a,b)$, где $a,b \in \mathbb{N}, a < b$. Переменной <code>a</code> присваивается значение <code>5</code>, переменной <code>b</code> присваивается значение <code>8</code>, в переменную <code>result</code> помещается результат сложения натуральных чисел на интервале $[a,b)$.

In [ ]:
a = 5 
b = 8 
result = 0 
i = a 

while i < b: # Цикл по целым числам из [a,b)
    result += i 
    i += 1

print(result)

18

### Цикл for

```
for имя_переменной in последовательность_значений:
    блок кода
```

In [ ]:
for i in 1,2,3,4:
  print(i)

1
2
3
4

Очень удобно использовать в цикле `for` функцию <code>range(start=0, stop, step=1)</code>(<a href="https://docs.python.org/3/library/stdtypes.html#range">ссылка на документацию</a>).
Параметры функции:
<ul><li><span style="font-family: 'book antiqua', palatino;">start - с какого числа начинается последовательность. По умолчанию - 0</span></li><li><span style="font-family: 'book antiqua', palatino;">stop - до какого числа продолжается последовательность чисел. Указанное число не включается в диапазон</span></li><li><span style="font-family: 'book antiqua', palatino;">step - с каким шагом растут числа. По умолчанию 1</span></li></ul>

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(3,8,2):
  print(i)

3
5
7

#### Некоторые задачи для самопроверки из курса

На языке программирования Python напишите программу для вычисления суммы натуральных чисел на интервале $[a,b)$, где $a,b \in \mathbb{N}, a < b$. Переменной <code>a</code> присваивается значение <code>5</code>, переменной <code>b</code> присваивается значение <code>8</code>, в переменную <code>result</code> помещается результат сложения натуральных чисел на интервале $[a,b)$.

In [ ]:
a = 5 
b = 8 
result = 0 
  
for i in range(a,b): 
    result += i

print(result)

18

Матвей решил положить $100 000$ на вклад в банке под $6\%$ годовых на $5$ лет. Проценты начисляются ежегодно и добавляются к сумме вклада (вклад с капитализацией). На языке программирования Python напишите программу для вычисления итоговой суммы вклада по истечению $5$ лет. Переменной <code>deposit</code> присваивается значение <code>100000</code>, переменной <code>rate</code> присваивается значение <code>0.06</code>, переменной <code>deposit_term</code> присваивается значение <code>5</code>. После выполнения программы ответ, то есть итоговая сумма вклада по истечению $5$ лет, должен содержаться в переменной <code>deposit</code>. Результат округлить до копеек.

In [ ]:
deposit = 100000 
rate = 0.06 
deposit_term = 5
  
for i in range(0,deposit_term): 
    deposit = deposit + deposit * rate 
deposit = round(deposit,2) 
deposit

133822.56

По формуле сложных процентов:
$$
P = P_0 \left(1 + \frac{i}{n}\right)^{nt},
$$
где 


*   $P$ — новая сумма вложений
*   $P_0$ — начальная сумма вложений
*   $i$ — процентная ставка, годовых
*   $n$ — количество начислений в течение года
*   $t$ — количество лет

In [ ]:
deposit = 100000
rate = 0.06
deposit_term = 5
deposit = deposit*(1 + rate)**deposit_term
deposit = round(deposit,2) 
deposit

133822.56

## Функции

```
def имя_функции(параметры):
    блок кода
```

Задача: создайте функцию с именем `max_2`, которая на вход принимает $2$ значения и **выводит на экран** наибольшее из них.

In [6]:
def max_2(a,b):
  if a > b:
    print(a)
  else:
    print(b)

In [12]:
max_2(14,26)

26

In [8]:
def max_r_2(a,b):
  if a > b:
    return(a)
  else:
    return(b)

In [13]:
max_r_2(14,26)

26

#### Некоторые задачи для самопроверки из курса

При помощи Python реализуйте функцию с именем <code>is_leap_year()</code> для определения того, является ли год високосным. На вход эта функция должна принимать 1 параметр <code>year</code> (целое неотрицательное число). Функция должна возвращать значение <code>True</code>, если год високосный, иначе — значение <code>False</code>

In [ ]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
        
is_leap_year(1933)

False

При помощи Python реализуйте функцию с именем <code>get_sum_odd()</code>. На вход эта функция должна принимать 2 параметра: $a, b \in \mathbb{N}$, $a < b $. Возвращать функция должна сумму нечетных натуральных чисел на отрезке $[a,b]$.

In [ ]:
def get_sum_odd(a,b):
  sum = 0
  for i in range(a,b+1):
    if i % 2 == 1:
      sum = sum + i
  return sum

get_sum_odd(3,8)

15

## Индивидуальное задание

При помощи Python опишите функцию <code>grade(score)</code>, которая на вход принимает набранное студентом количество баллов (целое число от $0$ до $100$ включительно), и возвращает оценку в виде текстовой строки в соответствии со следующей таблицей:
$$
\begin{array}{|c|c|}
\hline        
\textbf{Значение} & \textbf{Оценка} \\ \hline        
\text{score} \in [0,60) & \text{неудовлетворительно} \\ \hline
\text{score} \in [60,74] & \text{удовлетворительно} \\ \hline
\text{score} \in (74,90] & \text{хорошо} \\ \hline
\text{score} \in (90,100] & \text{отлично} \\ \hline           
\end{array}
$$

In [ ]:
def grade(score):
    if score >= 0 and score < 60:
        return 'неудовлетворительно'
    if score >= 60 and score <= 74:
        return 'удовлетворительно'
    if score > 74 and score <= 90:
        return 'хорошо'
    if score > 90 and score <= 100:
        return 'отлично'

In [ ]:
a = grade(75)
print(a)

хорошо

При помощи Python опишите функцию <code>solve(a,b)</code>, которая позволяет решать уравнение 
$$
ax = b.
$$
Входными параметрами для функции служат числа $a,b$, возвращать функция должна значение $x$. Если уравнение имеет бесконечное множество решений, то функция должна возвращать текстовую строку <code>Any</code> (с большой буквы, без дополнительных символов). Если уравнение решений не имеет, то функция должна возвращать текстовую строку <code>Error</code> (с большой буквы, без дополнительных символов)

Аналитическое решение:

1. Пусть $a=0$, $b \neq 0$. Имеем уравнение 
$$0\cdot x = b, b \neq 0,$$
тогда 
$$
x = \frac{b}{0} \quad \text{деление на ноль!!!}
$$
2. Пусть $a=0$, $b = 0$. Имеем уравнение 
$$
0 \cdot x = 0.
$$
Какой $x$ не подставь, все равно получим $0=0$ -- верное равенство. Вывод: $x$ -- любое число.
3. Пусть $a\neq 0$. Имеем уравнение 
$$
a \cdot x = b,
$$
откуда 
$$
x = \frac{b}{a}.
$$

Переписываем в виде функции Python.

In [ ]:
def solve(a,b):
    if a == 0:
      if b == 0:
        return 'Any'
      else:
        return 'Error'
    else:
      return b/a

$0\cdot x = 0$

In [ ]:
print(solve(0,0))

Any

$0\cdot x = 5$

In [ ]:
print(solve(0,5))

Error

$4\cdot x = 1$

In [ ]:
print(solve(4,1))

0.25