# Структуры данных в Python

## Списки

### Создание списка

In [ ]:
age = [13, 28, 30, 12, 45]
pet = ['cat', 'dog', 'pig']

print(age)
print(pet)

[13, 28, 30, 12, 45]
['cat', 'dog', 'pig']

In [ ]:
something = [age, 'cat', 1, 5, 4737, 782, pet, 'hello']
print(something)

[[13, 28, 30, 12, 45], 'cat', 1, 5, 4737, 782, ['cat', 'dog', 'pig'], 'hello']

In [ ]:
empty_list = []
empty_list = list()
print(empty_list)

[]

### Обращение к элементам списка

Индексы начинаются с нуля. То есть первый элемент будет иметь индекс 0, второй элемент - индекс 1 и так далее.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

print(names[0])
print(names[1])
print(names[2])

Dmitry
Anton
Aleksei

Для обращения к элементам с конца можно использовать отрицательные индексы, начиная с -1. То есть у последнего элемента будет индекс -1, у предпоследнего - -2 и так далее.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

print(names[-1])
print(names[-2])
print(names[-3])

Aleksei
Anton
Dmitry

### Изменение элемента списка

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']
print('До изменения:', names)

names[2] = 'Romanov'

print('После изменения:', names)

До изменения: ['Dmitry', 'Anton', 'Aleksei']
После изменения: ['Dmitry', 'Anton', 'Romanov']

### Разложение списка

Разложение списка работает только в том случае, если количество переменных равно числу элементов присваиваемого списка.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

person1, person2, person3 = names

print('Первый сотрудник:', person1)
print('Второй сотрудник:', person2)
print('Третий сотрудник:', person3)

Первый сотрудник: Dmitry
Второй сотрудник: Anton
Третий сотрудник: Aleksei

### Методы

*   list.append(elem) — добавляет один элемент в конец списка.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

names.append('Vladimir')
print(names)

['Dmitry', 'Anton', 'Aleksei', 'Vladimir']

*   list.insert(index, elem) — вставляет элемент с заданным индексом, сдвигая элементы вправо.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

names.insert(0, 'Vladimir')
print(names)

['Vladimir', 'Dmitry', 'Anton', 'Aleksei']

*   list.extend(list2) — добавляет элементы списка list2 в конец списка list.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

names.extend(['Vladimir', 'Petr', 'Sergei'])
print(names)

['Dmitry', 'Anton', 'Aleksei', 'Vladimir', 'Petr', 'Sergei']

*   list.index(elem) — выполняет поиск элемента c началама списка и возвращает его индекс.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

print(names.index('Anton'))

1

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei', 'Anton']

print(names.index('Anton'))

1

*   list.remove(elem) — выполняет поиск первого экземпляра данного элемента и удаляет его.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei', 'Anton']
names.remove('Anton')

print(names)

['Dmitry', 'Aleksei', 'Anton']

*   list.pop(index) — удаляет и возвращает элемент с заданным индексом.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

deleted_name = names.pop(0)

print('Удален элемент списка:', deleted_name)
print('Список:', names)

Удален элемент списка: Dmitry
Список: ['Anton', 'Aleksei']

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

deleted_name = names.pop() # По умолчанию индекс -1

print('Удален элемент списка:', deleted_name)
print('Список:', names)

Удален элемент списка: Aleksei
Список: ['Dmitry', 'Anton']

*   list.sort() — сортировка списка.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

names.sort()
print(names)

['Aleksei', 'Anton', 'Dmitry']

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

names.sort(reverse=True)
print(names)

['Dmitry', 'Anton', 'Aleksei']

*   list.count(item) — возвращает количество вхождений элемента item в список.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei', 'Anton']

print('Имя Dmitry:', names.count('Dmitry'))
print('Имя Anton:', names.count('Anton'))

Имя Dmitry: 1
Имя Anton: 2

*   list.reverse() — переворачивает список.

In [ ]:
ages = [1, 7, 3, 76, 0, 2]

ages.reverse()
print(ages)

[2, 0, 76, 3, 7, 1]

*   list.copy() — копирует список.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']
print('Исходный список:', names)

new_names = names.copy()
print('Новый список:', new_names)

Исходный список: ['Dmitry', 'Anton', 'Aleksei']
Новый список: ['Dmitry', 'Anton', 'Aleksei']

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']
print('Исходный список:', names)

new_names = names
print('Новый список:', new_names)

Исходный список: ['Dmitry', 'Anton', 'Aleksei']
Новый список: ['Dmitry', 'Anton', 'Aleksei']

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']
print('Исходный список:', names)

new_names_1 = names.copy()
new_names_2 = names

names.append('Petr')
print('Исходный список после добавления:', names)

print('Новый список 1:', new_names_1)
print('Новый список 2:', new_names_2)

Исходный список: ['Dmitry', 'Anton', 'Aleksei']
Исходный список после добавления: ['Dmitry', 'Anton', 'Aleksei', 'Petr']
Новый список 1: ['Dmitry', 'Anton', 'Aleksei']
Новый список 2: ['Dmitry', 'Anton', 'Aleksei', 'Petr']

* list.clear() — удаление всех элементов из списка.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']
print('Исходный список:', names)

names.clear()
print('После clear:', names)

Исходный список: ['Dmitry', 'Anton', 'Aleksei']
После clear: []

### Функции для работы со списками

* len(list) — возвращает длину списка.

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']
print('Длина списка names:', len(names))

Длина списка names: 3

* min(list) — возвращает наименьший элемент списка.
* max(list) — возвращает наибольший элемент списка.

In [ ]:
ages = [1, 7, 3, 76, 0, 2]

print('Минимальный элемент:', min(ages))
print('Максимальный элемент:', max(ages))

Минимальный элемент: 0
Максимальный элемент: 76

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

print('Минимальный элемент:', min(names))
print('Максимальный элемент:', max(names))

Минимальный элемент: Aleksei
Максимальный элемент: Dmitry

In [ ]:
names = ['AAA', 'ABC', 'BC', 'BD']

print('Минимальный элемент:', min(names))
print('Максимальный элемент:', max(names))

Минимальный элемент: AAA
Максимальный элемент: BD

* sum(list) — возвращает сумму чисел списка.

In [ ]:
ages = [1, 7, 3, 76, 0, 2]

print('Сумма чисел:', sum(ages))

Сумма чисел: 89

### Перебор элементов списка

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

for i in range(0, len(names)): #i изменяется от 0 до длины списка, т.е. до 3 не включительно
    print(names[i])

Dmitry
Anton
Aleksei

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

i = 0
while i < len(names):
    print(names[i])
    i+=1

Dmitry
Anton
Aleksei

In [ ]:
names = ['Dmitry', 'Anton', 'Aleksei']

for item in names: #item принимает последовательно значения из списка names
    print(item)

Dmitry
Anton
Aleksei

## Задание для самопроверки 1

При помощи Python реализуйте функцию с именем <code>gen_list()</code>. На вход функция должна принимать 3 параметра: $a, b, c \in \mathbb{N}$, $a < b, c < b$. Возвращать функция должна список натуральных чисел в диапазоне $[a,b)$ с шагом $c$.

In [ ]:
def gen_list(a, b, c):
  numbers = [] # Инициализируем пустой список
  for i in range(a, b, c): # Идем от a до b с шагом c
    numbers.append(i) # Добавляем элемент в список
  return numbers

In [ ]:
print(gen_list(60, 100, 33))
print(gen_list(1, 10, 2))

[60, 93]
[1, 3, 5, 7, 9]

In [ ]:
def gen_list(a, b, c):
  numbers = []
  i = a
  while i < b: 
    numbers.append(i)
    i += c
  return numbers

In [ ]:
print(gen_list(60, 100, 33))
print(gen_list(1, 10, 2))

[60, 93]
[1, 3, 5, 7, 9]

##  Кортежи (совсем немного)

### Создание и обращение к элементам

In [ ]:
empty_tuple = ()
empty_tuple = tuple()
print(empty_tuple)

()

In [ ]:
my_tuple = (1, 2, 'cat', 1.67)

print(my_tuple)

(1, 2, 'cat', 1.67)

In [ ]:
my_tuple = (1, 2, 'cat', 1.67)

print(my_tuple[2])

cat

### В чем разница?

In [ ]:
my_list = [1, 2, 'cat', 1.67]

my_list[2] = 'dog'
print(my_list)

[1, 2, 'dog', 1.67]

In [ ]:
my_tuple = (1, 2, 'cat', 1.67)

my_tuple[2] = 'dog' # тут будет ошибка, так и должно быть :)
print(my_tuple)

TypeError: ignored

## Словари

```
my_dict = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}
```

### Создание словаря

In [ ]:
my_dict = {}
my_dict = dict()

print(my_dict)

{}

In [ ]:
my_dict = {
    1: 'Dmitry',
    2: 'Anton'
    }

print(my_dict)

{1: 'Dmitry', 2: 'Anton'}

In [ ]:
my_dict = {'name': 'Aleksei',
           1: [2, 4, 3]
           }

print(my_dict)

{'name': 'Aleksei', 1: [2, 4, 3]}

### Обращение к элементам словаря

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

print(person['age'])

print(person['name'])

33
Aleksei

### Изменение словаря

Изменение существующего значения для ключа age

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

person['age'] = 21
print(person)

{'name': 'Aleksei', 'gender': 'муж.', 'age': 21}

Добавление новой пары ключ:значение

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

person['surname'] = 'Romanov'
print(person)

{'name': 'Aleksei', 'gender': 'муж.', 'age': 33, 'surname': 'Romanov'}

### Основные методы

* dict.items() — возвращает список кортежей, содержащих пары ключ-значение словаря.

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

print(person.items())

dict_items([('name', 'Aleksei'), ('gender', 'муж.'), ('age', 33)])

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

person_new = list(person.items())

print(person_new[0])
print(person_new[1])
print(person_new[2])

('name', 'Aleksei')
('gender', 'муж.')
('age', 33)

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

person_new = list(person.items())

key0, value0 = person_new[0]

print(key0)
print(value0)

name
Aleksei

In [ ]:
persons = {
    'Aleksei': '33',
    'Petr': 39,
    'Anton': 29,
    'Dmitry': 33
    }

for key, value in persons.items():
    print('Ключ: ', key)
    print('Значение: ', value)
    print('--------------------')

Ключ:  Aleksei
Значение:  33
--------------------
Ключ:  Petr
Значение:  39
--------------------
Ключ:  Anton
Значение:  29
--------------------
Ключ:  Dmitry
Значение:  33
--------------------

* dict.keys() — возвращает список ключей словаря.

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

print(person.keys())

dict_keys(['name', 'gender', 'age'])

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

print(list(person.keys()))

['name', 'gender', 'age']

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

for key in person.keys():
    print(key)

name
gender
age

* dict.values() — возвращает список значений словаря.

In [ ]:
person = {'name': 'Aleksei', 'gender': 'муж.', 'age': 33}

print(person.values())

dict_values(['Aleksei', 'муж.', 33])

In [ ]:
for item in person.values():
    print(item)

Aleksei
муж.
33

## Задание для самопроверки 2

### Базовое решение

При помощи Python реализуйте функцию с именем <code>gen_dict()</code>. На вход эта функция должна принимать два списка одинаковой длины. Первый — список имен, например: <code>['Kate', 'Lena', 'Dima']</code>, второй — список возрастов, например: <code>[23, 56, 33]</code>. Возвращать функция должна словарь, где ключи — элементы первого списка, а значения — соответствующие элементы второго списка. Для приведенного примера результат должен быть следующим: <code>{'Dima': 33, 'Kate': 23, 'Lena': 56}</code>.

In [ ]:
def gen_dict(Name, Age):
  sample_dict = {}

  for i in range(0, len(Name)): #можно по длине Age, по условию они равны
    sample_dict[Name[i]] = Age[i]
    
  return sample_dict

In [ ]:
gen_dict(['Kate', 'Lena', 'Dima'], [23, 56, 33])

{'Dima': 33, 'Kate': 23, 'Lena': 56}

### Функция zip()

zip() — функция, которая позволяет пройтись одновременно по нескольким итерируемым объектам. Возвращает zip-объект кортежей, которые содержат элементы из каждого объекта, переданного в функцию.

In [ ]:
zip(['Kate', 'Lena', 'Dima'], [23, 56, 33])

In [ ]:
list(zip(['Kate', 'Lena', 'Dima'], [23, 56, 33]))

[('Kate', 23), ('Lena', 56), ('Dima', 33)]

In [ ]:
def gen_dict(Name, Age):
  sample_dict = {}
  for name, age in zip(Name, Age):
    sample_dict[name] = age
  return sample_dict

In [ ]:
gen_dict(['Kate', 'Lena', 'Dima'], [23, 56, 33])

{'Dima': 33, 'Kate': 23, 'Lena': 56}

### Еще проще?

In [ ]:
def gen_dict(Name, Age):
  return dict(zip(Name, Age))

In [ ]:
gen_dict(['Kate', 'Lena', 'Dima'], [23, 56, 33])

{'Dima': 33, 'Kate': 23, 'Lena': 56}