In [91]:
#—á—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö, —Ç–∞–∫ –∫–∞–∫ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–Ω—Ñ–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω—ã, –∏—Å–ø–æ–ª—å–∑—É–µ–º –∏—Ö –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∏–Ω–¥–µ–∫—Å–∞
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

df_knn = pd.read_csv("/Users/ekaterina/github_repos/ITMO_STUDY/ datasets/IZ_29_KNN.csv", delimiter=',', index_col='id')

–í–∞–º –¥–æ—Å—Ç—É–ø–Ω–∞ —Ç–∞–±–ª–∏—Ü–∞ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö —Å–∏–Ω—Ç–µ—Ç–∏—á–µ—Å–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö, –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—é –Ω–æ–≤–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞, —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ -–±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π.

–í–≤–µ–¥–∏—Ç–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –æ—Ç –Ω–æ–≤–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞ —Å –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏ 67,95 –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ —Å–æ—Å–µ–¥–∞, –∏—Å–ø–æ–ª—å–∑—É—è –µ–≤–∫–ª–∏–¥–æ–≤—É –º–µ—Ç—Ä–∏–∫—É.
–í–≤–µ–¥–∏—Ç–µ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç—Ä—ã —Ç—Ä–µ—Ö –±–ª–∏–∂–∞–π—à–∏—Ö —Ç–æ—á–µ–∫ –∫ 67,95 –¥–ª—è –µ–≤–∫–ª–∏–¥–æ–≤–æ–π –º–µ—Ç—Ä–∏–∫–∏.
–í–≤–µ–¥–∏—Ç–µ –∫–ª–∞—Å—Å –¥–ª—è –Ω–æ–≤–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞ —Å –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏ 67,95 –ø—Ä–∏ k=3 –∏ –µ–≤–∫–ª–∏–¥–æ–≤–æ–π –º–µ—Ç—Ä–∏–∫–µ.

–í–≤–µ–¥–∏—Ç–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –æ—Ç –Ω–æ–≤–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞ —Å –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏  67,95 –¥–æ –±–ª–∏–∂–∞–π—à–µ–≥–æ —Å–æ—Å–µ–¥–∞, –∏—Å–ø–æ–ª—å–∑—É—è –º–µ—Ç—Ä–∏–∫—É –≥–æ—Ä–æ–¥—Å–∫–∏—Ö –∫–≤–∞—Ä—Ç–∞–ª–æ–≤ (–ú–∞–Ω—Ö–µ—Ç—Ç–µ–Ω—Å–∫–æ–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ).
–í–≤–µ–¥–∏—Ç–µ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç—Ä—ã —Ç—Ä–µ—Ö –±–ª–∏–∂–∞–π—à–∏—Ö —Ç–æ—á–µ–∫ –∫  67,95 –¥–ª—è –º–µ—Ç—Ä–∏–∫–∏ –≥–æ—Ä–æ–¥—Å–∫–∏—Ö –∫–≤–∞—Ä—Ç–∞–ª–æ–≤.
–í–≤–µ–¥–∏—Ç–µ –∫–ª–∞—Å—Å –¥–ª—è –Ω–æ–≤–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞ —Å –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏ 67,95 –ø—Ä–∏ k=3 –∏ –º–µ—Ç—Ä–∏–∫–µ –≥–æ—Ä–æ–¥—Å–∫–∏—Ö –∫–≤–∞—Ä—Ç–∞–ª–æ–≤.

In [92]:
df_knn

     X   Y  Class
id
1   42  53      0
2   47  50      0
3   46  69      1
4   33  67      0
5   10  37      0
6   40  22      0
7   76  37      0
8   81  96      1
9   32  90      0
10  82  70      0

In [93]:
X = pd.DataFrame(df_knn.drop(['Class'], axis=1))
X

     X   Y
id
1   42  53
2   47  50
3   46  69
4   33  67
5   10  37
6   40  22
7   76  37
8   81  96
9   32  90
10  82  70

In [94]:

y = pd.DataFrame(df_knn['Class']).values.ravel()
y

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0])

–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –∑–∞–¥–∞–Ω–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –º–æ–¥–µ–ª–∏: n_neighbors ‚Äî —á–∏—Å–ª–æ —Å–æ—Å–µ–¥–µ–π; p ‚Äî –∏—Å–ø–æ–ª—å–∑—É–µ–º–æ–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ. –ú–∞–Ω—Ö—ç—Ç—Ç–µ–Ω—Å–∫–æ–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ ‚Äî p=1, –µ–≤–∫–ª–∏–¥–æ–≤–æ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ ‚Äî p=2. –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã ‚Äî https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

In [95]:

neigh = KNeighborsClassifier(n_neighbors=3, p=2)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [96]:
#  –ó–∞–¥–∞–µ–º –Ω–∞—à –Ω–æ–≤—ã–π –æ–±—ä–µ–∫—Ç —Å –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏
NewObject = (67, 95)

In [97]:
# –ù–∞–∑–Ω–∞—á–µ–Ω–Ω—ã–π –∫–ª–∞—Å—Å:
neigh.predict([NewObject])

array([1])

In [98]:
# –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ –æ—Ç–Ω–µ—Å–µ–Ω–∏—è –∫ –∫–ª–∞—Å—Å–∞–º 0 –∏ 1 —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ:
neigh.predict_proba([NewObject])

array([[0.33333333, 0.66666667]])

In [99]:
# –í—ã–≤–æ–¥ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–π –¥–æ  ùëò  —Å–æ—Å–µ–¥–µ–π –≤ –ø–æ—Ä—è–¥–∫–µ —É–¥–∞–ª–µ–Ω–∏—è (–ø–µ—Ä–≤—ã–π –º–∞—Å—Å–∏–≤ ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è, –≤—Ç–æ—Ä–æ–π ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã –æ–±—ä–µ–∫—Ç–æ–≤). 
# –û–±—Ä–∞—â–∞–µ–º –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –º–µ—Ç–æ–¥ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∏–Ω–¥–µ–∫—Å—ã –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π —Å –Ω—É–ª—è, —á—Ç–æ –Ω–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ.
neigh.kneighbors([NewObject])

(array([[14.03566885, 29.15475947, 33.42154993]]), array([[7, 9, 2]]))

In [100]:
# Manhattan
neigh_M = KNeighborsClassifier(n_neighbors=3, p=1)
neigh_M.fit(X, y)

KNeighborsClassifier(n_neighbors=3, p=1)

In [101]:
# –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ –æ—Ç–Ω–µ—Å–µ–Ω–∏—è –∫ –∫–ª–∞—Å—Å–∞–º 0 –∏ 1 —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ:
neigh_M.predict([NewObject])

array([0])

In [102]:
# –í—ã–≤–æ–¥ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–π –¥–æ  ùëò  —Å–æ—Å–µ–¥–µ–π –≤ –ø–æ—Ä—è–¥–∫–µ —É–¥–∞–ª–µ–Ω–∏—è (–ø–µ—Ä–≤—ã–π –º–∞—Å—Å–∏–≤ ‚Äî —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è, –≤—Ç–æ—Ä–æ–π ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã –æ–±—ä–µ–∫—Ç–æ–≤). 
# —Ü–∏–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ.
neigh_M.kneighbors([NewObject])

(array([[15., 40., 40.]]), array([[7, 9, 8]]))