In [91]:
#чтение данных, так как названия конфет уникальны, используем их в качестве индекса
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

df_knn = pd.read_csv("/Users/ekaterina/github_repos/ITMO_STUDY/ datasets/IZ_29_KNN.csv", delimiter=',', index_col='id')

Вам доступна таблица некоторых синтетических данных, на основании которых необходимо выполнить классификацию нового объекта, с помощью метода -ближайших соседей.

Введите расстояние от нового объекта с координатами 67,95 до ближайшего соседа, используя евклидову метрику.
Введите идентификатры трех ближайших точек к 67,95 для евклидовой метрики.
Введите класс для нового объекта с координатами 67,95 при k=3 и евклидовой метрике.

Введите расстояние от нового объекта с координатами  67,95 до ближайшего соседа, используя метрику городских кварталов (Манхеттенское расстояние).
Введите идентификатры трех ближайших точек к  67,95 для метрики городских кварталов.
Введите класс для нового объекта с координатами 67,95 при k=3 и метрике городских кварталов.

In [92]:
df_knn

     X   Y  Class
id
1   42  53      0
2   47  50      0
3   46  69      1
4   33  67      0
5   10  37      0
6   40  22      0
7   76  37      0
8   81  96      1
9   32  90      0
10  82  70      0

In [93]:
X = pd.DataFrame(df_knn.drop(['Class'], axis=1))
X

     X   Y
id
1   42  53
2   47  50
3   46  69
4   33  67
5   10  37
6   40  22
7   76  37
8   81  96
9   32  90
10  82  70

In [94]:

y = pd.DataFrame(df_knn['Class']).values.ravel()
y

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0])

Подключение библиотеки и задание параметров модели: n_neighbors — число соседей; p — используемое расстояние. Манхэттенское расстояние — p=1, евклидово расстояние — p=2. Дополнительные параметры — https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

In [95]:

neigh = KNeighborsClassifier(n_neighbors=3, p=2)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [96]:
#  Задаем наш новый объект с координатами
NewObject = (67, 95)

In [97]:
# Назначенный класс:
neigh.predict([NewObject])

array([1])

In [98]:
# Вероятности отнесения к классам 0 и 1 соответственно:
neigh.predict_proba([NewObject])

array([[0.33333333, 0.66666667]])

In [99]:
# Вывод расстояний до  𝑘  соседей в порядке удаления (первый массив — расстояния, второй — идентификаторы объектов). 
# Обращаем внимание, что метод возвращает индексы ближайших соседей с нуля, что не соответствует индексации в таблице.
neigh.kneighbors([NewObject])

(array([[14.03566885, 29.15475947, 33.42154993]]), array([[7, 9, 2]]))

In [100]:
# Manhattan
neigh_M = KNeighborsClassifier(n_neighbors=3, p=1)
neigh_M.fit(X, y)

KNeighborsClassifier(n_neighbors=3, p=1)

In [101]:
# Вероятности отнесения к классам 0 и 1 соответственно:
neigh_M.predict([NewObject])

array([0])

In [102]:
# Вывод расстояний до  𝑘  соседей в порядке удаления (первый массив — расстояния, второй — идентификаторы объектов). 
# ции в таблице.
neigh_M.kneighbors([NewObject])

(array([[15., 40., 40.]]), array([[7, 9, 8]]))