
Ваша задача, оценить параметры распределения по выборке объема n=10 из биномиальноого распределения B 15, 0,97

In [7]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://de.ifmo.ru/--openedu/appliedstatistics/course2019/ex1/Binomial_10_103.csv', header=None)
df

      0
0  15.0
1  15.0
2  15.0
3  14.0
4  15.0
5  15.0
6  14.0
7  14.0
8  15.0
9  15.0

In [25]:
p = df[0].mean()/15
n =15
print(p, abs(p - 0.97))

0.98 0.010000000000000009

In [26]:
S2 = np.var(df[0], ddof=0)
print(S2, abs(S2 - (n*0.97*(1-0.97))))

0.20999999999999996 0.22650000000000037

In [19]:
df_10000 = pd.read_csv('https://de.ifmo.ru/--openedu/appliedstatistics/course2019/ex1/Binomial_10000_103.csv', header=None)
df_10000

         0
0     15.0
1     15.0
2     15.0
3     14.0
4     15.0
...    ...
9995  14.0
9996  14.0
9997  14.0
9998  15.0
9999  15.0

[10000 rows x 1 columns]

In [27]:
p_10000 = df_10000[0].mean()/15
print(p_10000, abs(p_10000 - 0.97))

0.9697600000000001 0.00023999999999990695

In [29]:
S2_10000 = np.var(df_10000[0], ddof=0)
print(S2_10000, abs(S2_10000 - (n*0.97*(1-0.97))))

0.43824704000003795 0.001747040000037614