In [1]:
import pandas as pd
import numpy as np

Менеджер телекоммуникационной компании одной маленькой деревушки решил записать количество звонков, поступающих в течение каждых пяти минут рабочего дня, так как обеспокоен вопросом: не придется ли покупать новое оборудование? Считая, что рассматривается распределение Пуассона П (тета) :

In [2]:
df = pd.read_csv('http://de.ifmo.ru/--openedu/appliedstatistics/course2019/ex2/Poisson_61.csv', header=None)
df

      0
0     5
1     4
2     6
3     0
4     2
...  ..
9995  2
9996  5
9997  3
9998  4
9999  0

[10000 rows x 1 columns]

1. Оцените параметр , используя оценку метода моментов Тета(с крышкой)_1:

In [13]:
#  Тета_1
X_m = df[0].mean()
X_m

2.9616

2. Оцените параметр Тета, используя оценку метода моментов Тета(с крышкой)_2
Оценки для метода моментов и максимального правдоподобия совпадут

In [14]:
df[1] = df[0]**2
df

      0   1
0     5  25
1     4  16
2     6  36
3     0   0
4     2   4
...  ..  ..
9995  2   4
9996  5  25
9997  3   9
9998  4  16
9999  0   0

[10000 rows x 2 columns]

In [31]:
X_2_m=df[1].mean()
X_2_m

11.7864

In [16]:
Teta_2=X_2_m-X_m**2
Teta_2

3.0153254400000016

In [32]:
#Тета_1 на основе  Тета_2 
(X_2_m-Teta_2)**0.5

2.9616

Оценив параметр распределения, выяснить, какова вероятность, что в течение случайных пяти минут поступит к=5 звонков? (Используйте оценку максимального правдоподобия)

In [29]:
from scipy. stats import poisson

#calculate probability k=5
poisson. pmf (k=5, mu=X_m)

0.09823001794650411